@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-size: 18x;
  @media (max-width: 1600px) {
    font-size: 16x;
  }
  @media (max-width: 768px) {
    font-size: 14x;
  }
}

*{
  font-family: 'Caudex', serif;
  font-family: 'Inter', sans-serif;
}